$base-font-family: 'Inter', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.4;
$base-color: #222222;
$base-transition: 0.2s ease-in-out;

$white: #fff;
$black: #000;
$secondary: #7E869A;
$primary: #4DD2A3;
$danger: #FF0002;
