{
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "semi": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  }
}
